<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>textSize</key>
	<dict/>
	<key>textColor</key>
	<dict>
		<key>newsTopChannelBackColor</key>
		<dict>
			<key>color</key>
			<string>0x651414</string>
			<key>desc</key>
			<string>分割线通用颜色</string>
		</dict>
		<key>boderNormalColor</key>
		<dict>
			<key>color</key>
			<string>0x464646</string>
			<key>desc</key>
			<string>分割线通用颜色</string>
		</dict>
		<key>cellNormalTextColor</key>
		<dict>
			<key>color</key>
			<string>0x707070</string>
			<key>desc</key>
			<string>用户中心三个tabcell字体颜色</string>
		</dict>
		<key>cellNormalBackColor</key>
		<dict>
			<key>color</key>
			<string>0x252525</string>
			<key>desc</key>
			<string>cell通用背景色</string>
		</dict>
		<key>userHeaderBackColor</key>
		<dict>
			<key>color</key>
			<string>0x2f2f2e</string>
			<key>desc</key>
			<string>个人页头部背景色</string>
		</dict>
		<key>normalPageBackColor</key>
		<dict>
			<key>color</key>
			<string>0x1b1b1b</string>
			<key>desc</key>
			<string>页面默认背景色</string>
		</dict>
	</dict>
	<key>buttonImage</key>
	<dict>
		<key>user_login_cell</key>
		<dict>
			<key>normal_img</key>
			<string>user_cellphoneicon_login_night</string>
			<key>press_img</key>
			<string>user_cellphoneicon_login_press_night</string>
			<key>desc</key>
			<string>登录-手机号</string>
		</dict>
		<key>user_login_wechat</key>
		<dict>
			<key>normal_img</key>
			<string>user_weixinicon_login_night</string>
			<key>press_img</key>
			<string>user_weixinicon_login_press_night</string>
			<key>des</key>
			<string>登录-微信</string>
		</dict>
		<key>user_login_qq</key>
		<dict>
			<key>normal_img</key>
			<string>user_qqicon_login_night</string>
			<key>press_img</key>
			<string>user_qqicon_login_press_night</string>
			<key>des</key>
			<string>登录-qq</string>
		</dict>
		<key>user_login_sina</key>
		<dict>
			<key>normal_img</key>
			<string>user_sinaicon_login_night</string>
			<key>press_img</key>
			<string>user_sinaicon_login_press_night</string>
			<key>des</key>
			<string>登录-新浪</string>
		</dict>
		<key>user_favorite_tab</key>
		<dict>
			<key>normal_img</key>
			<string>user_favorite_night</string>
			<key>press_img</key>
			<string>user_day_press_night</string>
			<key>des</key>
			<string>cell-收藏</string>
		</dict>
		<key>user_day_night_tab</key>
		<dict>
			<key>normal_img</key>
			<string>user_day_night</string>
			<key>press_img</key>
			<string>user_day_press_night</string>
			<key>des</key>
			<string>日间-夜间</string>
		</dict>
		<key>user_setting_tab</key>
		<dict>
			<key>normal_img</key>
			<string>user_setting_night</string>
			<key>press_img</key>
			<string>user_setting_press_night</string>
			<key>des</key>
			<string>登录-手机号</string>
		</dict>
	</dict>
</dict>
</plist>
